<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.dogcare">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/icon_paw1"
        android:label="@string/app_name"
        android:roundIcon="@drawable/as"
        android:supportsRtl="true"
        android:theme="@style/Theme.DogCare"
        tools:targetApi="31">
        <activity
            android:name=".set_appointment"
            android:exported="false" />
        <activity
            android:name=".admin_add_post"
            android:exported="false" />
        <activity
            android:name=".users_setAppointments_nav"
            android:exported="false" />
        <activity
            android:name=".users_myAppointments_nav"
            android:exported="false" />
        <activity
            android:name=".admin_confirmed_appointments"
            android:exported="false" />
        <activity
            android:name=".admin_request_appointments"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="false" />
        <activity
            android:name=".admin_login"
            android:exported="false" />
        <activity
            android:name=".users_registration"
            android:exported="false" />
        <activity
            android:name=".admin_profile"
            android:exported="false" />
        <activity
            android:name=".admin_home_nav"
            android:exported="false" />
        <activity
            android:name=".users_profile"
            android:exported="false" />
        <activity
            android:name=".users_home_nav"
            android:exported="false" />
        <activity
            android:name=".users_login"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>